@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@media (max-width:900px) {
    body{
        align-items: center;
        background: rgb(201, 184, 241);
        font-family: var(--normal);
    }
    main{
        padding: 20px 30px;
        min-width: 300px;
        max-width:100vh;
        margin: auto;
        margin-bottom: 30px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;   
    }
    section{
        padding: 2vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }
    .section01{
        border-top: 0.2px solid;
        border-bottom: 0.2px solid;
        align-items: center;
    }
    .section01 div{
        padding: 0 0;
    }
    .section01 .text01{
        text-align: center;
        padding-top: 30px;
       font-size: 30px;
    }
    .section01 h4{
        font-size: 20px;
    }
    .section01 h1{
        padding-top: 40px;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 800;
    }
    .section01 h1 b{
        color: var(--pink);
    }
    .section01 .img{
        padding-top: 20px;
        width: 100%;
    }
    
    .section02 .text02{
        text-align: center;
        padding-top: 30px;
        width: 100%;
    }
    .section02 h3{
        color: var(--pink);
        font-size: 26px;
    }
    .section02 p{
        padding: 20px 0;
        font-size: 18px;
        letter-spacing: 0px;

    }
    .section02 #marke{
        width: 100%;
    }
    .section03{
        background-color: rgba(91, 46, 196, 0.938);
        text-align: center;
        padding: 10vh 0;
    }
    
    .section03 .item{
        padding: 20px 20px;
        color: var(--white);
    }
    .section03 h3{
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
    }
    .section03 p{
        font-size: 18px;
        font-weight: lighter;
    }
    .section04{
       display: flex;
       flex-direction: column;
    }
    .section04 .line{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    .section04 .item{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .section04 .div-img{
        width: 300px;
        height: 200px;
    }
    .section04 .div-text{
        text-align: center;
    }
    .section04 a{
        color: rgb(0, 0, 0);
        font-weight:  700;
        font-size: 19px;
    }
    .section04 #diferente{
        color: rgb(0, 0, 0);
        font-weight:  800;
        font-size: 20px;
        text-transform: uppercase;
    }
    .section05{
        background-color: #000;
        width: 100%;
    }
    .section05 .citacao{
        text-align: center;
        padding: 10vh;
        color: var(--white);
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 2px;
    }
    .section05 h4{
        font-size: 22px;
    }
    .section05 span{
        padding-top: 30px;
        color: rgb(255, 44, 160);
        font-size: 30px;
    }
    
    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
    }
    
    .footer{
        font-size: 20px;
        text-align: center;
        padding: 40px;
    }
    .footer a{
        font-weight: bolder;
    }
    .about01 .text{
        text-align: justify;
        padding: 10px;
        font-size: 18px;
        line-height: 27px;
    }
    .about01 h3{
        padding-top: 20px;
        font-weight: 800;
        font-size: 20px;
    }
    .about02 .text{
        text-align: justify;
        padding: 10px;
        font-size: 18px;
        line-height: 27px;
    }
    .about03 .text{
        text-align: center;
        padding: 10px;
        font-size: 18px;
        line-height: 27px;
    }
    .fotos{
        display: flex;
        flex-direction: column;
     }
     .fotos .line{
         display: flex;
         flex-direction: column;
         padding: 0;
     }
     
     .fotos .item{
         padding: 10px;
     }
     .fotos .div-img{
         width: 300px;
         height: 300px;
         border-radius: 20px;
     }
}