@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

:root{
    --white: #fff;
    --black: #000;
    --blue: #5e82ce;
    --pink:rgb(102, 36, 255);

    --normal: 'Nunito', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--normal);
}
body{
    background: rgb(201, 184, 241);
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: var(--black);
}
a:hover{
    border-bottom: 0.3px solid;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 22px;
}

nav .menu-icon{
    display: none;
    cursor: pointer;
}

header .logo{
    font-size: 34px;
    font-weight: 700;
    color: var(--blue);
    letter-spacing: 1px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

nav ul li{
    padding: 0 15px;
}

nav ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    color: var(--black);
    letter-spacing: 3px;
}

section{
    padding: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}
main{
    padding: 40px;
}
.about01 .text{
    text-align: justify;
    padding: 10vh;
    font-size: 22px;
    line-height: 30px;
}
.about01 h1{
    text-align: center;
    color: var(--pink);
    padding-bottom: 25px;
}
.about01 h3{
    padding-top: 0;
    font-weight: 800;
    font-size: 20px;
}
.about01{
   display: flex;
   flex-direction: column; 
   border-top: 0.2px solid;
}
.fotos{
    display: flex;
    flex-direction: column;
 }
 .fotos .line{
     display: flex;
     flex-direction: row;
     padding: 5vh 0;
 }
 
 .fotos .item{
     padding: 0 20px;
 }
 .fotos .div-img{
     width: 300px;
     height: 300px;
     border-radius: 20px;
 }
.about02{
    border-top: 0.2px solid;
    border-bottom: 0.2px solid;
}
.about02 .text{
    text-align: justify;
    padding: 10vh;
    font-size: 22px;
    line-height: 30px;
}
.about02 a{
    padding-bottom: 20px;
}
.about03{
    border-bottom: 0.2px solid;
    display: flex;
    flex-direction: column;
}
.about03 .text{
    text-align: center;
    padding: 10vh;
    font-size: 22px;
    line-height: 30px;
}



