@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
:root{
    --white: #fff;
    --black: #000;
    --blue: #5e82ce;
    --pink:rgb(102, 36, 255);

    --normal: 'Nunito', sans-serif;
    --normal02: '', sans-serif;
    --titulonews:'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--normal);
}
body{
    background: rgb(201, 184, 241);
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: var(--black);
}
a:hover{
    border-bottom: 0.3px solid;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 22px;
}

nav .menu-icon{
    display: none;
    cursor: pointer;
}

header .logo{
    font-size: 34px;
    font-weight: 700;
    color: var(--blue);
    letter-spacing: 1px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

nav ul li{
    padding: 0 15px;
}

nav ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    color: var(--black);
    letter-spacing: 3px;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section{
    padding: 7vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.section01{
    border-top: 0.2px solid;
    border-bottom: 0.2px solid;
}
.section01 div{
    padding: 0 50px;
}
.section01 .text01{
    text-align: center;
    padding-top: 30px;
    width: 50%;
}
.section01 h4{
    font-size: 20px;
}
.section01 h1{
    padding-top: 40px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 800;
}
.section01 h1 b{
    color: var(--pink);
}
.section01 .img{
    width: 100%;
}

.section02 .text02{
    text-align: center;
    padding-top: 30px;
    width: 40%;
}
.section02 h3{
    color: var(--pink);
    font-size: 26px;
}
.section02 p{
    padding-top: 40px;
    font-size: 20px;
    letter-spacing: 1px;
}

.section03{
    background-color: rgba(91, 46, 196, 0.938);
    text-align: center;
    padding: 22vh 0;
}

.section03 .item{
    padding: 0 50px;
    color: var(--white);
}
.section03 h3{
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}
.section03 p{
    font-size: 20px;
    font-weight: lighter;
}
.section04{
   display: flex;
   flex-direction: column;
}
.section04 .line{
    display: flex;
    flex-direction: row;
    padding: 5vh 0;
}

.section04 .item{
    padding: 0 10px;
}
.section04 .div-img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
.section04 .div-text{
    text-align: center;
}
.section04 a{
    color: rgb(0, 0, 0);
    font-weight:  700;
    font-size: 19px;
    font-family: var(--normal02);
}
.section04 #div-titulo{
    font-size: 22px;
    font-family: var(--titulonews);
    letter-spacing: 2px;
}
.section04 h2{
    font-family: var(--titulonews);
}
.section05{
    background-color: #000;
    width: 100%;
}
.section05 .citacao{
    text-align: center;
    padding: 10vh;
    color: var(--white);
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px;
}
.section05 h4{
    font-size: 26px;
}
.section05 span{
    padding-top: 30px;
    color: rgb(253, 76, 106);
    font-size: 50px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.footer{
    font-size: 20px;
    text-align: center;
    padding: 40px;
}
.footer a{
    font-weight: bolder;
}
